@charset "UTF-8";
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  background: white;
  line-height: 1;
  color: black;
}

ol, ul {
  list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

.header_logo {
  font-size: 30pt;
  color: black;
}

.header_logo span {
  font-size: 100pt;
}

.header_logo a {
  color: black;
  text-decoration: none;
}

.header_logo h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header_call {
  color: #234753;
  font-size: 36pt;
  text-align: right;
  position: absolute;
  right: 0px;
  top: 20px;
}

.header_call div {
  display: inline-block;
}

.header {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0px;
}

.header_elem {
  display: inline-block;
  height: 125px;
}

.header_wrap {
  min-width: 375px;
  height: 125px;
  position: relative;
  max-width: 960px;
  margin: auto;
}

.header_lang {
  color: #6b9458;
  text-align: center;
  font-size: 30pt;
}

.counter_writings {
  text-align: center;
}

.writings_discount > div {
  display: inline-block;
}

.writings_header {
  width: 100%;
  font-size: 33pt;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.writings_discount {
  width: 95%;
  font-size: 30pt;
}

.counter_count {
  margin-left: 45px;
  margin-top: 5px;
}

.counter_discriptin {
  text-align: center;
  font-size: 24pt;
}

.count_elem {
  display: inline-block;
  background: #21464d;
  font-size: 55pt;
  text-align: center;
  border-radius: 5px;
  padding: 15px 2px;
  margin-right: 15px;
}

.count_elem > div {
  font-size: 17pt;
}

.discount_persent {
  font-size: 60pt;
}

@media screen and (max-width: 1330px) {
  .writings_header {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .counter_count {
    margin-top: 0px;
  }
}
@media screen and (max-width: 993px) {
  .action_counter {
    display: none;
  }
}
.form_head {
  font-size: 26pt;
  padding: 10px;
}

.action_form {
  background-color: rgba(210, 221, 193, 0.7);
  height: 300px;
  border-top: 20px solid #234753;
  margin-top: 115px;
  text-align: center;
  position: relative;
  right: -50px;
}

.counter_form_element {
  background-position: left;
  background-repeat: no-repeat;
  outline: none;
  border-radius: 5px;
  /*╨╖╨░╨║╤А╤Г╨│╨╗╤П╨╡╨╝ ╤Г╨│╨╗╤Л ╨┤╨╗╤П ╨╛╤Б╤В╨░╨╗╤М╨╜╤Л╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨╛╨▓*/
  padding-left: 25px;
  /*╨╛╤В╤Б╤В╤Г╨┐ ╤Б╨╗╨╡╨▓╨░ ╨╛╤В ╨▓╨▓╨╛╨┤╨░, ╤З╤В╨╛╨▒╤Л ╤В╨╡╨║╤Б╤В ╨╜╨╡ ╨▒╤Л╨╗ ╨╜╨░ ╨║╨░╤А╤В╨╕╨╜╨║╨╡(╨▓╤Л╨▒╨╕╤А╨░╤В╤М ╨┐╨╛ ╤А╨░╨╖╨╝╨╡╤А╤Г ╨║╨░╤А╤В╨╕╨╜╨║╨╕)*/
  height: 45px;
  /*╨▓╤Л╤Б╨╛╤В╨░ ╤Б╤В╤А╨╛╨║╨╕ ╨▓╨▓╨╛╨┤╨░*/
  width: 65%;
  font-size: 18pt;
  /*╤А╨░╨╖╨╝╨╡╤А ╤И╤А╨╕╤Д╤В╨░*/
  font-family: "Times New Roman", Georgia, Serif;
  opacity: 0.7;
  color: #9ba8a4;
  margin-bottom: 15px;
}

.action_name {
  background-image: url(../images/human-light.png);
}

.action_number {
  background-image: url(../images/phone-light.png);
}

.counter_form_wrapper > input[type=submit] {
  height: 45px;
  width: 290px;
  margin-top: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #234753;
  font-size: 24pt;
  color: white;
  cursor: pointer;
  font-family: "Times New Roman", Georgia, Serif;
  border: none;
}

@media screen and (max-width: 993px) {
  .action_form {
    background-color: rgba(210, 221, 193, 0.7);
    height: 380px;
    border-top: 20px solid #234753;
    margin-top: 115px;
    text-align: center;
    position: inherit;
  }

  .counter_form_element {
    width: 90%;
    height: 80px;
    font-size: 38pt;
  }
}
.action {
  width: 100%;
  margin: auto;
  min-width: 960px;
  background-size: cover;
  height: 500px;
  background: url(../images/counter_fone.png) no-repeat center;
  margin-top: 125px;
  background-size: cover;
}

.action_elements {
  color: white;
  padding: 0px;
}

.quastions {
  height: 811px;
  width: 100%;
  margin: auto;
  min-width: 960px;
  background-size: cover;
  background: url(../images/body-fone.png) no-repeat center;
  background-size: cover;
  border-bottom: solid #234753 20px;
}

.quastions_form {
  position: absolute;
  bottom: 30px;
  right: 15px;
}

.quastions_form_elements {
  background-repeat: no-repeat;
  outline: none;
  border: none;
  color: #234753;
  background-color: rgba(159, 189, 141, 0.68);
  margin-bottom: 10px;
  margin-right: 35px;
  border-radius: 5px;
  padding-left: 65px;
  font-size: 13pt;
}

.quastions_form > input[type=text]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #234753;
}

.quastions_form > input[type=text]::-moz-placeholder, textarea::-webkit-input-placeholder {
  color: #234753;
}

.quastions_form > input[type=text]:-moz-placeholder, textarea::-webkit-input-placeholder {
  color: #234753;
}

.quastions_form > input[type=text]:-ms-input-placeholder, textarea::-webkit-input-placeholder {
  color: #234753;
}

.quastions_form > input[type=text] {
  height: 50px;
  width: 240px;
}

.quastions_name {
  background-position: 10px;
  background-image: url(../images/human-dark.png);
}

.quastions_number {
  background-position: 10px;
  background-image: url(../images/phone-dark.png);
}

.quastions_message {
  background-position: 10px 10px;
  background-image: url(../images/chat.png);
}

.quastions_form > input[type=submit] {
  position: relative;
  left: 110px;
  height: 50px;
  width: 330px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #234753;
  font-size: 24pt;
  color: white;
  cursor: pointer;
  font-family: "Times New Roman", Georgia, Serif;
  border: none;
}

.quastions_head {
  position: absolute;
  bottom: 250px;
  right: -15px;
  color: white;
  font-size: 29pt;
}

.head_elem {
  padding: 0px;
  margin-bottom: 10px;
}

textarea {
  width: 520px;
  height: 85px;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .quastions {
    position: relative;
    height: 811px;
    background: url(../images/body-fone2.png) no-repeat center;
    border-bottom: solid #234753 20px;
  }

  .head_elem {
    text-align: center;
  }

  .quastions_form {
    width: 100%;
    padding-left: 8%;
    bottom: 22px;
  }

  .quastions_form > input[type=text] {
    width: 94%;
    height: 56px;
  }

  textarea {
    width: 94%;
  }

  .quastions_head {
    bottom: 295px;
    right: -15px;
  }

  .quastions_form > input[type=submit] {
    left: 265px;
  }

  .quastions_form_elements {
    font-size: 38pt;
  }
}
.wrapper_quastions {
  min-width: 375px;
  max-width: 960px;
  margin: auto;
  position: relative;
  height: 811px;
}

@media screen and (min-width: 2300px) {
  .quastions, .wrapper_quastions {
    height: 2000px;
  }
}
@media screen and (max-width: 2299px) {
  .quastions, .wrapper_quastions {
    height: 1380px;
  }
}
@media screen and (max-width: 1500px) {
  .quastions, .wrapper_quastions {
    height: 900px;
  }
}
@media screen and (max-width: 1100px) {
  .quastions, .wrapper_quastions {
    height: 811px;
  }
}
@media screen and (min-width: 3000px) {
  .quastions, .wrapper_quastions {
    height: 3500px;
  }
}
.reasons {
  height: 862px;
  background: url(../images/reasons-fone.png) no-repeat center;
  width: 100%;
  margin: auto;
  min-width: 960px;
  background-size: cover;
}

.reasons_head {
  margin-top: 35px;
  text-align: center;
  color: white;
  font-size: 46pt;
}

.resons_col {
  margin-top: 40px;
  margin-bottom: 40px;
}

.resons_icon {
  background-color: #234753;
  width: 110px;
  height: 110px;
  border-radius: 55px;
}

.resons_col > .resons_icon {
  margin-left: 40%;
}

.icon-plain, .icon-lightbulb, .icon-check {
  position: relative;
  top: 15px;
  margin: auto;
}

.resons_text, .resons_head {
  text-align: center;
  color: #234753;
  font-size: 15pt;
  margin-top: 20px;
  position: relative;
  left: 15px;
}

.resons_head > span {
  color: white;
}

@media screen and (max-width: 993px) {
  .resons_text, .resons_head {
    text-align: center;
    color: #234753;
    font-size: 16pt;
    margin-top: 20px;
    position: relative;
    left: 15px;
  }
}
.slider {
  margin: auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slider_elements {
  display: inline-block;
}

.slick-list {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.icon-EVD {
  margin-top: 30px;
}

.slider_elements {
  margin-left: 30px;
}

.icon-right {
  position: relative;
  right: -865px;
  bottom: 140px;
  cursor: pointer;
}

.icon-left {
  position: relative;
  right: 58px;
  top: 110px;
  cursor: pointer;
}

.partners {
  height: 473px;
  background: url(../images/partners-fone.png) no-repeat center;
  width: 100%;
  margin: auto;
  min-width: 960px;
  background-size: cover;
  border-bottom: solid #234753 20px;
}

.partners_head {
  text-align: center;
  margin-top: 80px;
  font-size: 48pt;
}

.partners_slider {
  margin-top: 35px;
  padding-left: 3%;
  max-width: 960px;
}

.clients {
  height: 752px;
  background: url(../images/clients-fone.png) no-repeat center;
  width: 100%;
  margin: auto;
  min-width: 960px;
  background-size: cover;
}

.clients_head {
  text-align: center;
  font-size: 48pt;
  margin-top: 45px;
}

.clients_reviews {
  display: inline-block;
  margin-right: 15px;
  padding: 0px;
  background-color: #aeb7b5;
  width: 210px;
  height: 500px;
}

.reviews_element {
  display: inline-block;
}

.reviews_photo {
  background: url(../images/recalls.png) no-repeat center;
  height: 227px;
  width: 210px;
  position: relative;
  top: -15px;
}

.clients_reviews_wrapper {
  margin: 50px;
  width: 930px;
  margin-left: 25px;
}

.reviews_link {
  color: #181a40;
  text-align: right;
  font-size: 16pt;
  margin-right: 30px;
}

.review_text {
  margin: 0px 10px 0px 10px;
}

.reviews_more {
  font-size: 24pt;
  text-align: right;
  margin-right: 50px;
  color: #234753;
}

.clients_wrapper {
  min-width: 375px;
  max-width: 960px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .clients_reviews:nth-child(1), .clients_reviews:nth-child(2) {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 0px;
    background-color: #aeb7b5;
    width: 98%;
    height: 9%;
  }

  .clients_reviews:nth-child(3), .clients_reviews:nth-child(4) {
    display: none;
  }

  .review_text {
    width: 73%;
    margin: 0px 10px 0px 10px;
    font-size: 22pt;
  }

  .clients_reviews_wrapper {
    margin: 14px;
  }

  .reviews_link {
    font-size: 18pt;
  }
}
@media screen and (min-width: 3000px) {
  .clients_wrapper {
    width: 1573px;
    margin: auto;
  }

  .clients_reviews_wrapper {
    width: 1600px;
  }

  .clients_reviews {
    width: 376px;
  }
}
.doesnt_found {
  height: 385px;
  background: url(../images/doesnt_found.png) no-repeat center;
  width: 100%;
  margin: auto;
  min-width: 960px;
  background-size: cover;
}

.call_elements {
  display: inline-block;
  color: white;
  padding: 0px;
}

.doesnt_found_call {
  margin-top: 30px;
  margin-left: 3%;
  background-color: #234753;
  border-radius: 5px;
  padding: 25px 40px 25px 40px;
  cursor: pointer;
  width: 95%;
}

.doesnt_found_header {
  font-size: 48pt;
  color: #151535;
  text-align: center;
  margin-top: 100px;
}

.doesnt_found_header > span {
  font-size: 42pt;
  color: #2d7200;
}

.call_num {
  font-family: "Minion Pro";
  font-size: 44pt;
  margin-top: 5px;
}

.call_info {
  font-size: 26pt;
}

.adres {
  height: 562px;
  background: url(../images/adres-fone.png) no-repeat center;
  width: 100%;
  margin: auto;
  min-width: 960px;
  background-size: cover;
}

.adres-map {
  width: 100%;
  height: 355px;
  padding: 0px;
  margin-top: 45px;
}

.adres-head {
  color: white;
  margin-top: 105px;
  text-align: center;
  font-size: 42pt;
}

.footer {
  height: 331px;
  background: url(../images/footer-fone.png) no-repeat center;
  width: 100%;
  margin: auto;
  min-width: 960px;
  background-size: cover;
}

.footer_social {
  margin-top: 80px;
}

.footer_social_elements {
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}

.icon-tweeter {
  margin-left: 23%;
}

.footer_sub {
  text-align: center;
  color: white;
  font-size: 18pt;
  line-height: 2;
  margin-top: 60px;
}

.footer_sub > a {
  color: white;
  text-decoration: none;
  font-family: Minion Pro;
  cursor: pointer;
}

.back-top {
  position: fixed;
  /* ╤Д╨╕╨║╤Б╨╕╤А╨╛╨▓╨░╨╜╨╜╨░╤П ╨┐╨╛╨╖╨╕╤Ж╨╕╤П */
  opacity: 0.5;
  /* ╨┐╤А╨╛╨╖╤А╨░╤З╨╜╨╛╤Б╤В╤М */
  padding: 15px 10px 10px;
  /* ╨╛╤В╤Б╤В╤Г╨┐╤Л */
  background: #aaa;
  border-radius: 5px;
  /* ╤Б╨║╤А╤Г╨│╨╗╨╡╨╜╨╕╨╡ ╤Г╨│╨╗╨╛╨▓ */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  right: 10px;
  /* ╨╛╤В╤Б╤В╤Г╨┐ ╤Б╨╗╨╡╨▓╨░ */
  bottom: 10px;
  /* ╨╛╤В╤Б╤В╤Г╨┐ ╤Б╨╜╨╕╨╖╤Г */
  display: none;
  /* ╤Б╨┐╤А╤П╤В╨░╤В╤М ╨▒╨╗╨╛╨║ */
  cursor: pointer;
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: 375px;
  max-width: 960px;
  margin: auto;
}
