@import "reset/_reset";
@import "header/_header";
@import "action/_action";
@import "quastions/_quastions";
@import "reasons/_reasons";
@import "partners/_partners";
@import "clients/_clients";
@import "doesnt_found/_doesnt_found";
@import "adres/_adres";
@import "footer/_footer";
@import "back-top/_back-top";
@import "mixin.scss";
a{
text-decoration: none;
}
.wrapper{
	min-width:375px;
	max-width:960px;
	margin:auto;
}
