@import "logo/_logo";
@import "call/_call";
.header{
	background-color:white;
	width: 100%;
	position: fixed;
    z-index: 999;
    top: 0px;
}
.header_elem {
	display:inline-block;
	height:125px;
}
.header_wrap{
	min-width:375px;
	height:125px;
	position: relative;
	max-width:960px;
	margin: auto
}

.header_lang{
	color:#6b9458;
	text-align: center;
	font-size: 30pt;
}

