@import "../mixin.scss";
.quastions{
	height:811px;
	@include page_sizes;
	background: url(../images/body-fone.png) no-repeat center;
	background-size:cover;
	border-bottom: solid #234753 20px;
}
.quastions_form{
	position: absolute;
	bottom:30px;
	right:15px;
}
.quastions_form_elements{
	background-repeat: no-repeat;
	outline: none;  
	border: none;
	color:#234753;
	background-color:rgba(159, 189, 141, 0.68);
	margin-bottom:10px;
	margin-right:35px;
	border-radius: 5px;
	padding-left: 65px;
	font-size:13pt;
}
.quastions_form>input[type=text]::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	color:#234753;
}
.quastions_form>input[type=text]::-moz-placeholder,textarea::-webkit-input-placeholder{
	color:#234753;
}
.quastions_form>input[type=text]:-moz-placeholder,textarea::-webkit-input-placeholder{
	color:#234753;
}
.quastions_form>input[type=text]:-ms-input-placeholder,textarea::-webkit-input-placeholder{
	color:#234753;
}
.quastions_form>input[type=text]{
	height: 50px; 
	width:240px;
}
.quastions_name{
	background-position: 10px;
	background-image: url(../images/human-dark.png);
}
.quastions_number{
	background-position: 10px;
	background-image: url(../images/phone-dark.png);
}
.quastions_message{
	background-position: 10px 10px;
	background-image: url(../images/chat.png);
}
.quastions_form>input[type=submit]{
	position:relative;
	left:110px;
	height: 50px; 
	width:330px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#234753;
	font-size:24pt;
	color:white;
	cursor:pointer;
	font-family: "Times New Roman", Georgia, Serif;
	border:none;
}
.quastions_head{
	position: absolute;
	bottom: 250px;
	right: -15px;
	color: white;
	font-size: 29pt;
}
.head_elem{
	padding:0px;
	margin-bottom:10px;
}
textarea{
	width:520px;
	height: 85px; 
	padding-top: 10px;
}
@media screen and (max-width: 767px) {
	.quastions{
		position: relative;
		height:811px;
		background: url(../images/body-fone2.png) no-repeat center;
		border-bottom: solid #234753 20px;
	}
	.head_elem{
		text-align:center;
	}
	.quastions_form {
		width: 100%;
		padding-left: 8%;
		bottom: 22px;
	}
	.quastions_form>input[type=text]{
		width:94%;
		height: 56px; 
	}
	textarea{
		width:94%;
	}
	.quastions_head{
		bottom: 295px;
		right: -15px;
	}
	.quastions_form>input[type=submit]{
		left:265px;
	}
	.quastions_form_elements{
		font-size: 38pt;
	}
}
.wrapper_quastions{
	min-width:375px;
	max-width:960px;
	margin:auto;
	position: relative;
	height:811px;
}
@media screen and (min-width: 2300px) {
	.quastions, .wrapper_quastions{
		height:2000px;
	}
}
@media screen and (max-width: 2299px) {
	.quastions, .wrapper_quastions{
		height:1380px;
	}
}
@media screen and (max-width: 1500px) {
	.quastions, .wrapper_quastions{
		height:900px;
	}
}
@media screen and (max-width: 1100px) {
	.quastions, .wrapper_quastions{
		height:811px;
	}
}
@media screen and (min-width: 3000px) {
	.quastions, .wrapper_quastions{
		height:3500px;
	}
}