@import "slider/_slider";
@import "../mixin.scss";
.partners{
	height:473px;
	background: url(../images/partners-fone.png) no-repeat center;
	@include page_sizes;
	border-bottom:solid #234753 20px;
}
.partners_head{
	text-align:center;
	margin-top:80px;
	font-size:48pt;
}
.partners_slider {
	margin-top: 35px;
	padding-left: 3%;
	max-width: 960px;
}
