@import "../mixin.scss";
.footer{
	height:331px;
	background: url(../images/footer-fone.png) no-repeat center;
	@include page_sizes;
}
.footer_social{
	margin-top:80px;
}
.footer_social_elements{
	display:inline-block;
	margin-right:40px;
	cursor:pointer;
}
.icon-tweeter{
	margin-left:23%;
}
.footer_sub{
	text-align:center;
	color:white;
	font-size:18pt;
	line-height: 2;
	margin-top:60px;
}
.footer_sub>a{
	color:white;
	text-decoration: none;
	font-family:Minion Pro;
	cursor:pointer;
}