@import "../mixin.scss";
.clients{

	height:752px;
	background: url(../images/clients-fone.png) no-repeat center;
	@include page_sizes;
}
.clients_head{
	text-align:center;
	font-size:48pt;
	margin-top:45px;
}
.clients_reviews{
	display:inline-block;
	margin-right:15px;
	padding:0px;
	background-color:#aeb7b5;
	width:210px;
	height:500px;
}
.reviews_element{
	display: inline-block;
}
.reviews_photo{
	background: url(../images/recalls.png) no-repeat center;
	height:227px;
	width:210px;
	position:relative;
	top:-15px;
}
.clients_reviews_wrapper{
	margin:50px;
	width:930px;
	margin-left: 25px;
}
.reviews_link{
	color:#181a40;
	text-align: right;
	font-size:16pt;
	margin-right:30px;
}
.review_text{
	margin:0px 10px 0px 10px;
}
.reviews_more{
	font-size:24pt;
	text-align:right;
	margin-right:50px;
	color:#234753;
}
.clients_wrapper{
	min-width:375px;
	max-width:960px;
	margin:auto;
}
@media screen and (max-width: 767px) {
	.clients_reviews:nth-child(1),.clients_reviews:nth-child(2) {
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 20px;
		padding: 0px;
		background-color: #aeb7b5;
		width: 98%;
		height:9%;
	}
	.clients_reviews:nth-child(3),.clients_reviews:nth-child(4) {
		display: none;
	}
	.review_text {
		width: 73%;
		margin: 0px 10px 0px 10px;
		font-size: 22pt;
	}
	.clients_reviews_wrapper{
		margin:14px;
	}
	.reviews_link {
		font-size: 18pt;
	}
}
@media screen and (min-width: 3000px) {
	.clients_wrapper{
		width:1573px;
		margin:auto;
	}
	.clients_reviews_wrapper{
		width: 1600px;
	}
	.clients_reviews {
    width: 376px;
}
}
