@import "counter/_counter";
@import "form/_form";
@import "../mixin.scss";
.action{
@include page_sizes;
height:500px;
background: url(../images/counter_fone.png) no-repeat center;
margin-top: 125px;
background-size:cover;
}

.action_elements{
color:white;
padding: 0px;
}
