@import "../mixin.scss";
.doesnt_found{
	height:385px;
	background: url(../images/doesnt_found.png) no-repeat center;
	@include page_sizes;
}
.call_elements{
	display:inline-block;
	color:white;
	padding:0px;
}
.doesnt_found_call{
	margin-top: 30px;
	margin-left: 3%;
	background-color: #234753;
	border-radius: 5px;
	padding: 25px 40px 25px 40px;
	cursor: pointer;
	width: 95%;
}
.doesnt_found_header{
	font-size:48pt;
	color:#151535;
	text-align:center;
	margin-top:100px;
}
.doesnt_found_header>span{
	font-size:42pt;
	color:#2d7200;
}
.call_num{
	font-family: "Minion Pro";
	font-size: 44pt;
	margin-top: 5px;
}
.call_info{
	font-size:26pt;
}