@import "../mixin.scss";
.reasons{
	height:862px;
	background: url(../images/reasons-fone.png) no-repeat center;
	@include page_sizes;
}
.reasons_head{
	margin-top: 35px;
	text-align:center;
	color:white;
	font-size:46pt;
}
.resons_text1{
}
.resons_col{
	margin-top:40px;
	margin-bottom:40px;
}
.resons_icon{
	background-color:#234753;
	width: 110px;
	height: 110px;
	border-radius: 55px;
}
.resons_col>.resons_icon{
	margin-left:40%;
}
.icon-plain,.icon-lightbulb,.icon-check{
	position: relative;
	top: 15px;
	margin: auto;
}
.resons_text, .resons_head{
	text-align:center;
	color:#234753;
	font-size:15pt;
	margin-top: 20px;
	position: relative;
	left: 15px;
}
.resons_head>span{
	color:white;
}
@media screen and (max-width: 993px) {
	.resons_text, .resons_head{
		text-align:center;
		color:#234753;
		font-size:16pt;
		margin-top: 20px;
		position: relative;
		left: 15px;
	}
}