.form_head{
	font-size:26pt;
	padding:10px;
}
.action_form{
	background-color: rgba(210, 221, 193, 0.7);
	height: 300px;
	border-top: 20px solid #234753;
	margin-top: 115px;
	text-align: center;
	position: relative;
	right: -50px;

}
.counter_form_element{
	background-position: left;
	background-repeat: no-repeat;
	outline: none;  
	border-radius: 5px; /*закругляем углы для остальных браузеров*/  
	padding-left: 25px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/  
	height: 45px; /*высота строки ввода*/   
	width:65%;
	font-size: 18pt; /*размер шрифта*/
	font-family: "Times New Roman", Georgia, Serif;
	opacity: 0.7;
	color:#9ba8a4;
	margin-bottom:15px;

}
.action_name{
	background-image: url(../images/human-light.png);
}
.action_number{
	background-image: url(../images/phone-light.png);
}
.counter_form_wrapper>input[type=submit]{
	height: 45px; 
	width:290px;
	margin-top:15px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#234753;
	font-size:24pt;
	color:white;
	cursor:pointer;
	font-family: "Times New Roman", Georgia, Serif;
	border:none;
}
@media screen and (max-width: 993px) {
	.action_form{
		background-color: rgba(210,221,193,0.7);
		height:380px;
		border-top: 20px solid #234753;
		margin-top:115px;
		text-align:center;
		position: inherit;;
	}
	.counter_form_element{
		width:90%;
		height:80px;
		font-size: 38pt;
	}
}