.slider {
margin:auto;

}
.slick-slide {
margin: 0px 20px;
}
.slider_elements{
display: inline-block;
}
.slick-list {
position: relative;
display: inline-block;
overflow: hidden;
margin: 0;
padding: 0;
width: 100%;
}
.icon-EVD{
margin-top:30px;
}
.slider_elements{
margin-left:30px;
}
.icon-right{
position:relative;
right: -865px;
bottom: 140px;
cursor:pointer;
}
.icon-left{
position:relative;
right:58px;
top:110px;
cursor:pointer;
}
