.action_counter{
}
.counter_writings{
	text-align: center;
}
.writings_discount>div{
	display:inline-block
}
.writings_header{
	width:100%;
	font-size:33pt;
	margin-top:20px;
	background-color:rgba(255, 255, 255, 0.7);
}
.writings_discount{
	width:95%;
	font-size:30pt;
}
.counter_count{
	margin-left: 45px;
	margin-top:5px;

}
.counter_discriptin{
	text-align:center;
	font-size:24pt;
}
.count_elem{
	display:inline-block;
	background:#21464d;
	font-size:55pt;
	text-align:center;
	border-radius:5px;
	padding:15px 2px;
	margin-right:15px;
}
.count_elem>div{
	font-size:17pt;
}
.discount_persent{
	font-size:60pt;
}
@media screen and (max-width: 1330px) {
	.writings_header {
		margin-top:20px;
		margin-bottom:0px;
	}
	.counter_count{
		margin-top:0px;
	}
}
@media screen and (max-width: 993px) {
	.action_counter{
		display: none;
	}
}