@import "../mixin.scss";
.adres{
	height:562px;
	background: url(../images/adres-fone.png) no-repeat center;
	@include page_sizes;
}
.adres-map {
	width: 100%;
	height: 355px;
	padding: 0px;
	margin-top: 45px;
}
.adres-head{
	color:white;
	margin-top:105px;
	text-align:center;
	font-size:42pt;
}